*, * ::after, *::before{
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

body{
  background-color: rgb(26, 99, 99) ;
  margin: 0;
}
.title{
  margin-bottom:15px;
  height: 60px;
  background-color:coral;
  position: relative;
  border: outset;
  border-color:black;
  border-width: 3px;
  font-size: 20px;
}

.fullscreenicon {
  position: fixed;
  width: 64px;
  height: 64px;
  background-image: url('.images/newfullscreen.svg');
  bottom:30px;
  right: 30px;
  cursor: pointer;
}

.schoollogo{
  position: absolute;
  width: 120px;
  height: 74px;
  top:80px;
  right:30px;
  border-radius:5%;
  background-image: url('.images/athslogo.svg');
}

h1{
  margin: 0;
  padding-top: 5px;
  text-align: center;
}

input{
  position:absolute;
  /* display: inline-block; */
  margin-left: 620px;
  width: 300px;
  height: 40px;
  font-size:25px ;
  font-weight: bolder;
  border-radius: 10px;
  text-align: center;
  color: rgb(9, 22, 209);
}

input.subject{
  top:95px;
}
input.grade{
  top:135px;
}
input.duration{
  top:175px
}

label{
  position: absolute;
  /* display: inline-block; */
  margin-left: 450px;
  text-align:left;
  font-size: 25px;
  color: aliceblue;
}


.subject{
  top:100px;
  margin-right:65px;
}
.grade{
  top:138px;
  margin-right:80px;
}

.duration{
  top:178px;
  margin-right:80px;
}

  
.counter{
  display: inline-block;
  position:absolute;
  width: 850px;
  height: 300px;
  left: 360px;
  top:290px;
  border-radius:20px;
  text-align: center;
  padding-top: 90px;
  font-size:110px;
  font-weight: bolder;
  background-color: rgba(231, 218, 226, 0.95);
}

.digitalclock{
  position:absolute;
  width: 200px;
  height: 60px;
  top:160px;
  left:100px;
  border-radius:10px;
  background-color: rgba(231, 218, 226, 0.95);
  border:2px solid black;
  
}

#digiclock{
  color: rgb(7, 15, 172);
  text-align: center;
  padding-top:5px;
  font-size: 40px;
  font-weight:900;
}


.button-start{
  position:absolute;
  width:80px;
  height: 40px;
  top:615px;
  left: 900px;
  border-radius: 15px;
  border:2px solid black;
  font-size: 20px;
  bottom: 60px;
  background-color: #C0C0C0;
  cursor: pointer;
}

.button-stop{
  position:absolute;
  width:80px;
  height: 40px;
  top:615px;
  left:1090px;
  border-radius: 15px;
  border:2px solid black;
  font-size: 20px;
  bottom: 60px;
  background-color: #C0C0C0;
  cursor: pointer;
}
.button-pause{
  position:absolute;
  width:80px;
  height: 40px;
  top:615px;
  left:995px;
  border-radius: 15px;
  border:2px solid black;
  font-size: 20px;
  bottom: 60px;
  background-color: #C0C0C0;
  cursor: pointer;
}

.button-set{
  position:absolute;
  width:80px;
  height: 40px;
  top:178px;
  left:925px;
  border-radius: 15px;
  border:2px solid black;
  font-size: 20px;
  bottom: 375px;
  background-color: #C0C0C0;
  cursor: pointer;
}
.owner-label{
  position: fixed;
  bottom: 80px;
  right: 550px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  color: rgba(247, 244, 244, 0.925);
}


/*
.time-remain{
  position: absolute;
  top:-10px;
  right:-280px;
  font-size: 65px;
  color: aliceblue;
}
*/
.day{
  position: absolute;
  top:80px;
  left:100px;
  font-size: 25px;
  color: aliceblue;
  
}
.current-date{
  position: absolute;
  top:120px;
  left:100px;
  font-size: 25px;
  color: white;
  
}

.remaining-time{
  display: inline-block;
  position: absolute;
  top:315px;
  left:600px;
  font-size:45px;
  font-style: italic;
  font-weight: bolder;
  color: rgb(172, 7, 7);
  /* background-color: aliceblue; */
  padding-right: 10px;
  z-index: 4;
}



